@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0 100%;
    --secondary-foreground: 0 0% 12%;

    --accent: 220, 89%, 53%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  /* Dark mode */
  .dark {
    --background: 222 22% 11%;
    --foreground: 0 0% 100%;

    --muted: 222 22% 15%;
    --muted-foreground: 0 0% 70%;

    --popover: 222 22% 11%;
    --popover-foreground: 0 0% 100%;

    --border: 222 22% 20%;

    --input: 0 0% 0%;

    --card: 222 22% 11%;
    --card-foreground: 0 0% 100%;

    --primary: 0 0% 4%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 90%;

    --accent: 220 89% 53%;
    --accent-foreground: 0, 0%, 100%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  ::-moz-selection {
    background: #202020;
    color: #fff;
  }
  ::-webkit-selection {
    background: #202020;
    color: #fff;
  }
  ::selection {
    background: #202020;
    color: #fff;
  }
}
